.friendList{
display: flex;
flex-direction: column;
align-content: space-around;
margin:0;
padding:0;
}
.item{
    width:250px;
    height:80px;
    margin:10px 0;
    /* padding:10px; */
    display:flex;
    justify-content: space-around;
align-items: center;
    border: 1 px solid  #4e4a4a6b ;
    box-shadow:2px 2px 2px #4e4a4a6b;
    background-color: rgb(243, 246, 249);
}
.status{
    border-radius: 50%;
    width:30px;
    height: 30px;
}
.avatar{
    border-radius:10px;
    height:50px;
    width:50px;
}
.name{
  text-align: left;
  color:  #4944446b;
  font-family: sans-serif;
}