.statistics{
    margin-top: 30px;
    width:250px;
    height:150px;
    border: 1 px solid  #4e4a4a6b ;
    box-shadow:2px 2px 2px #4e4a4a6b;
    background-color: rgb(243, 246, 249);
    text-transform: uppercase;
    text-align: center;

    font-size: 12px;
    font-family: sans-serif;
    overflow: hidden;
}
.statList{
padding:0;
margin:0;
display:flex;
height: 60px;

}
.title{
    padding:20px 0;
    color: #4e4a4a6b;
}
.item{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width:25%;
    height:100%;
    background-color: rgb(85, 96, 143);
    padding:0px 0 10px;
    color:white;
}
.label{
    font-size: 8px;
}
.percentage{
    font-size: 14px;
}